<div class="card card-fluid h-100">
    <div class="card-body text-center d-flex flex-column justify-content-start">
        <h5 class="mb-4" style="margin-top: 5px;">Informations</h5>
        <div class="col">
            <div class="row justify-content-between">
                <span class="col-5 h6 text-left">
                    <h5 class="mb-4">Jour :</h5>
                </span>
                <span id="consigneAir" class="col-5 h6 text-right">
                    {{nbJour}}
                </span>
            </div>

            <div class="row justify-content-between">
                <span class="col-5 h6 text-left">
                    <h5 class="mb-4">Etat :</h5>
                </span>
                <span id="consigneAir" class="col-5 h6">
                    {{etat}}
                </span>
            </div>

            <div class="row justify-content-between">
                <span class="col-5 h6 text-left">
                    <h5 class="mb-4">Sous Etat :</h5>
                </span>
                <span id="consigneAir" class="col-5 h6 text-right">
                    {{sousEtat}}
                </span>
            </div>
        </div>
    </div>
</div>