<div class="row" style="height: 500px;">
    <div class="col-4 h-100">
        <app-etal-card [capteur]="capteurAir"></app-etal-card>
    </div>
    <div class="col-4 h-100">
        <app-etal-card [capteur]="capteurHum"></app-etal-card>
    </div>
    <div class="col-4 h-100">
        <app-etal-card [capteur]="capteurSec"></app-etal-card>
    </div>
</div>