<div class="card card-fluid h-100" style="background-color:rgb(15, 2, 24)">
    <div class="col-6 row h-100">
        <app-ventilo></app-ventilo>
        <app-vanne-air></app-vanne-air>
        <app-brume></app-brume>
    </div>
</div>