<div class="card card-fluid h-100">
    <div class="card-body text-center d-flex flex-column justify-content-start">
        <h5 class="mb-4" style="margin-top: 5px;">Temperature Air</h5>
        <h1 class="display-2"><strong>{{renderTemperatureAir()}}</strong></h1>
        <div class="d-flex mt-4">
            <div class="col">
                <button (click)="downConsigneAir(-1)" id="consigneAirDown" type="button" class="btn btn-danger">
                -
                </button>
            </div>

            <div class="col">
                <button (click)="upConsigneAir(1)" id="consigneAirUp" type="button" class="btn btn-success">
                +
                </button>
            </div>
        </div>
    </div>

    <!-- Information -->

    <div class="d-flex mt-4">
        <div class="col text-left">
            <span class="d-block badge badge-dot badge-lg h6 text-left">
                <i class="voyantMesure"></i>Consigne :
            </span>
            <span class="d-block badge badge-dot badge-lg h6 text-left">
                <i class="voyantMesure"></i>Delta :
            </span>
            <span class="d-block badge badge-dot badge-lg h6 text-left">
            </span>
        </div>
        <hr class="my-3">
        <div class="col text-right">
            <span class="d-block badge badge-dot badge-lg h6 text-right">
            <!-- Mesure -->
            <span id="consigneAir" class="consigneAir">{{renderConsigneAir()}}</span>
            </span>
            <span class="d-block badge badge-dot badge-lg h6 text-right">
            <!-- Delta -->
            <span class="coeff">{{temperatureAir - consigneAir | number: '1.0-2'}}</span>°C
            </span>
            <span class="d-block badge badge-dot badge-lg h6 text-left">
            </span>
        </div>
    </div>
    
    <!-- Fin information -->
</div>