<div class="card card-fluid col-12">
  <div class="card-body text-center d-flex flex-column justify-content-center">
  <h5 class="mb-4" style="margin-top: 5px;">{{capteur.libelle}}</h5>
  <div class="progress-circle progress-lg mx-auto" id="progress-5" data-progress="100" data-text="NC"
  data-textclass="h1 temperatureSec" data-color="info"></div>
  <h5 class="mb-4" style="margin-top: 5px;">Temperature Mesurée: {{renderTemp() | number: '1.0-2'}}</h5>
  <h5 class="mb-4" style="margin-top: 5px;">Etalonnage Appliqué: {{etallonage | number: '1.0-2'}}</h5>

  <!-- Cercle -->
  <div class="d-flex mt-4">
    <div class="col">
      <button (click)="modifEtal(-0.1)" id="etalSecDown" type="button" class="btn btn-danger">
        -
      </button>
    </div>
    <div class="col">
      <button (click)="modifEtal(0.1)" id="etalSecUp" type="button" class="btn btn-success">
        +
      </button>
    </div>
  </div>
    <!-- Fin information -->
  </div>
</div>