<div class="row" style="height: 450px;">
    <div class="col-4 h-100">
        <app-home-card></app-home-card>
    </div>
    <div class="col-4 h-100">
        <app-air-card></app-air-card>
    </div>
    <div class="col-4 h-100">
        <app-hum-card></app-hum-card>
    </div>
    <div class="col-4 h-100">
        <app-co2-card></app-co2-card>
    </div>
    <!--
    -->
</div>