<div class="card card-fluid h-100 col-6">
    <div class="card-body">
      <div class="card-body text-center d-flex flex-column justify-content-center">
        <h5 class="mb-4" style="margin-top: -5px;">Consigne Air</h5>
      </div>

      <div class="row align-items-center">
        <div class="col">
          <h6 class="text-sm mb-0">
            Consigne actuelle
          </h6>
        </div>
        <div class="col-auto" id="consigneAir">{{renderConsigneAir()}}
        </div>
      </div>
      <hr>
      
      <div class="row align-items-center">
        <div class="col">
          <h6 class="text-sm mb-0">
            Temperature Air actuelle
          </h6>
        </div>
        <div class="col-auto temperatureAir">{{renderTemperatureAir()}}
        </div>
      </div>
      <hr>

      <form [formGroup]="saisieDirectConsigneAir">
        <div class="row align-items-center">
          <div class="col">
            <h6 class="text-sm mb-0">
              <input type="text" class="form-control" id="saisieDirectConsigneAir" placeholder="Nouvel Consigne" formControlName="consigneAir">
            </h6>
          </div>
          <div class="col-auto">

              <button (click)="setConsigneAir()" type="button" class="btn btn-primary directConsigneAir">Valider</button>
          </div>
        </div>
      </form>
      <hr>

      <div class="row align-items-center">
        <div class="col">
          <span class="badge badge-dot">
            <div *ngIf="statusObjAir; then thenBlock else elseBlock"></div>
            <ng-template #thenBlock><i class="bg-success statusObjAir">Status</i></ng-template>
            <ng-template #elseBlock><i class="bg-danger statusObjAir">Status</i></ng-template>
            <span class="statusTxtAir">  Objectif air Activer</span>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="card card-fluid h-100 col-6">
  <div class="card-body">
    <div class="card-body text-center d-flex flex-column justify-content-center">
      <h5 class="mb-4" style="margin-top: -5px;">Vitesse Consigne Air</h5>
    </div>

    <div class="row align-items-center">
      <div class="col">
        <h6 class="text-sm mb-0">
          Pas actuelle
        </h6>
      </div>
      <div class="col-auto pasConsigneAir">{{pasAir}}
      </div>
    </div>
    <hr>

    <div class="row align-items-center">
      <div class="col">
        <h6 class="text-sm mb-0">
          Estimation temps restants
        </h6>
      </div>
      <div class="col-auto tempsRestantConsigneAir">{{renderDureeRestante()}}
      </div>
    </div>
    <hr>  

    <form [formGroup]="saisiePas"> 
      <div class="row align-items-center">
        <div class="col">
          <h6 class="text-sm mb-0">
            <input type="text" class="form-control" id="newPasConsigneAir" placeholder="Nouveau Pas" formControlName="pasAir">
          </h6>
        </div>
        <div class="col-auto">

            <button (click)="setPas()" type="button" class="btn btn-primary btnPasConsigneAir">Valider</button>
        </div>
      </div>
    </form>
    <hr>

    <div class="row align-items-center">
      <div class="col">
        <h6 class="text-sm mb-0">
          Objectif attendu
        </h6>
      </div>
      <div class="col-auto objConsigneAir">{{objAir}}°C
      </div>
    </div>
    <hr>

    <form [formGroup]="saisiObjAir">
      <div class="row align-items-center">
        <div class="col">
          <h6 class="text-sm mb-0">
            <input type="text" class="form-control" id="newObjConsigneAir" placeholder="Nouvel Objectif" formControlName="objAir">
          </h6>
        </div>
        <div class="col-auto">

            <button (click)="setObjAir()" type="button" class="btn btn-primary btnObjConsigneAir">Valider</button>
        </div>
      </div>
    </form>
  </div>
</div>