<div class="card card-fluid h-100 col-12">
    <div class="card-body">
        <div class="card-body text-center d-flex flex-column justify-content-center">
            <span><i class="fas fa-tint"></i></span>
            <h5 class="mb-4" style="margin-top: -5px;">Brume</h5>
            <h5 class="mb-4" style="margin-top: -5px;">Etat : <span class="etatRelayBrume">inconnu</span></h5>
            <div *ngIf="isActif; then thenBlock else elseBlock"></div>
            <ng-template #elseBlock>
                <button (click)="turnOn()" type="button" class="mb-4 btn btn-success switchRelayBrume">Switch Brume</button>
            </ng-template>
            <ng-template #thenBlock>
                <button (click)="turnOff()" type="button" class="mb-4 btn btn-danger switchRelayBrume">Switch Brume</button>
            </ng-template>
        </div>
    </div>
</div>