<div class="card card-fluid h-100">
    <div class="card-body text-center d-flex flex-column justify-content-start">
      <h5 class="mb-4" style="margin-top: 5px;">Taux d'humidité</h5>
      <h1 class="display-2"><strong>{{renderTauxHumidite()}}</strong></h1>
        <div class="d-flex mt-4">
            <div class="col">
            <button (click)="downConsigneHum(-1)" id="consigneHumDown" type="button" class="btn btn-danger">
                -
            </button>
            </div>
            <div class="col">
            <button (click)="upConsigneHum(1)" id="consigneHumUp" type="button" class="btn btn-success">
                +
            </button>
            </div>
        </div>
    </div>
      <div class="d-flex mt-4">
        <div class="col text-left">
            <span class="d-block badge badge-dot badge-lg h6 text-left">
                <i class="voyantHumidite"></i>Consigne :
            </span>
            <span class="d-block badge badge-dot badge-lg h6 text-left">
                <i class="voyantHumidite"></i>Mesure Sec :
            </span>
            <span class="d-block badge badge-dot badge-lg h6 text-left">
                <i class="voyantHumidite"></i>Mesure Humide :
            </span>
        </div>
        <hr class="my-3">
        <div class="col text-right">
            <span class="d-block badge badge-dot badge-lg h6 text-right">
                <span id="consigneHum" class="consigneHum">{{renderConsigneHum()}}</span>
            </span>
            <span class="d-block badge badge-dot badge-lg h6 text-right">
                <span class="moySec">{{renderTemperatureSec()}}</span>
            </span>
            <span class="d-block badge badge-dot badge-lg h6 text-right">
                <span class="moyHum">{{renderTemperatureSec()}}</span>
            </span>
        </div>
      </div>
  </div>