<div class="card card-fluid h-100 col-12">
    <div class="card-body">
        <div class="card-body text-center d-flex flex-column justify-content-center">
            <span><i class="fas fa-tint"></i></span>
            <h5 class="mb-4" style="margin-top: -5px;">Vanne Air</h5>
            <h5 class="mb-4" style="margin-top: -5px;">Etat : <span class="etatVanneAir">{{etatVanneAir}}</span></h5>
            <div *ngIf="isActif; then thenBlock else elseBlock"></div>
            <ng-template #elseBlock>            
                <button (click)="openVanne(5)" type="button" class="mb-4 btn btn-success ouvrirVanneAir">Ouvrir Vanne Air</button>
                <button (click)="closeVanne(5)" type="button" class="mb-4 btn btn-danger fermerVanneAir">Fermer Vanne Air</button>
                <button (click)="openVanne(40)" type="button" class="mb-4 btn btn-success fullOuvrirVanneAir">Ouvrir à fond</button>
                <button (click)="closeVanne(40)" type="button" class="mb-4 btn btn-danger fullFermerVanneAir">Fermer à fond</button>
            </ng-template>
            <ng-template #thenBlock>
                <button type="button" class="mb-4 btn btn-success ouvrirVanneAir disabled">Ouvrir Vanne Air</button>
                <button type="button" class="mb-4 btn btn-danger fermerVanneAir disabled">Fermer Vanne Air</button>
                <button type="button" class="mb-4 btn btn-success fullOuvrirVanneAir disabled">Ouvrir à fond</button>
                <button type="button" class="mb-4 btn btn-danger fullFermerVanneAir disabled">Fermer à fond</button>
            </ng-template>
        </div>
    </div>
</div>