<div class="card card-fluid h-100 col-12">
    <div class="card-body">
        <div class="card-body text-center d-flex flex-column justify-content-center">
            <span><i class="fas fa-tint"></i></span>
            <h5 class="mb-4" style="margin-top: -5px;">Ventilo</h5>
            <h5 class="mb-4" style="margin-top: -5px;">Etat : <span class="etatRelayVentilo">inconnu</span></h5>
            <div *ngIf="isActif; then thenBlock else elseBlock"></div>
            <ng-template #elseBlock><button (click)="switchVentilo()" type="button" class="mb-4 btn btn-success switchRelayVentilo">Activer 5 Minutes</button></ng-template>
            <ng-template #thenBlock><button type="button" class="mb-4 btn btn-danger switchRelayVentilo">En cours</button></ng-template>
            <button (click)="resetApp()" type="button" class="mb-4 btn btn-primary initDataArduino">Remise à jour 1</button>
        </div>
    </div>
</div>