<div class="card card-fluid h-100">
    <div class="card-body text-center d-flex flex-column justify-content-start">
      <h5 class="mb-4" style="margin-top: 5px;">Taux Co2</h5>
      <h1 class="display-2"><strong>{{co2}}ppm</strong></h1>
        <div class="d-flex mt-4">
            <div class="col">
            <button (click)="downConsigneCo2(-100)" id="consigneCo2Down" type="button" class="btn btn-danger">
                -
            </button>
            </div>
            <div class="col">
            <button (click)="upConsigneCo2(100)" id="consigneCo2Up" type="button" class="btn btn-success">
                +
            </button>
            </div>
        </div>
    </div>
      <div class="d-flex mt-4">
        <div class="col text-left">
            <span class="d-block badge badge-dot badge-lg h6 text-left">
                <i class="voyantHumidite"></i>Consigne :
            </span>
        </div>
        <hr class="my-3">
        <div class="col text-right">
            <span class="d-block badge badge-dot badge-lg h6 text-right">
                <span id="consigneCo2" class="consigneHum">{{consigneCo2}}ppm</span>
            </span>
        </div>
      </div>
  </div>